{{> navbar}}
<main class="auth">
    <header>
        <div class="auth__banner">
            <h2 class="auth__heading">Login</h2>
        </div>
    </header>
    {{#if success_message}}
    <div class="success-card mgT1">
        <h2 class="h5">{{success_message}}</h2>
    </div>
    {{/if}}
    <h6>Account Registration</h6>

    <form id="signup" class=" auth__form" method="post" action="/auth/register">

        <p>Estimated time to complete your registration is 2 Minutes</p>
        <p>Please complete the following form using English alphabet characters only.</p>
        <p> Please complete the form below by using your first name and surname as they are displayed in
            your identity document.</p>
        <p>Please make sure that emails from <em class="link">support@enkryptfinance.com</em> do not get
            marked as spam so that you can receive all communication emails seamlessly.
        </p>
        <h5 class="h5 mgV2">Personal Details</h5>

        <div class="d-flex">
            <div class="flex-column">
                <div class="auth__inputBox">
                    <input class="form-input" name="firstName" placeholder="First Name" />
                </div>
                <div class="auth__inputBox">
                    <input class="form-input" name="middleName" placeholder="Middle Name" />

                </div>
                <div class="auth__inputBox">
                    <input class="form-input" name="lastName" placeholder="Last Name" />

                </div>
            </div>
            <div class="flex-column">
                <div class="auth__inputBox">
                    <select name="country" class="form-input">
                        {{#each country}}
                        <option>{{name}}</option>
                        {{/each}}
                    </select>

                </div>
                <div class="auth__inputBox">
                    <input class="form-input" type="email" name="email" placeholder="Email" />

                </div>
                <div class="auth__inputBox">
                    <input class="form-input" name="password" type="password" placeholder="Password" />

                </div>
            </div>
        </div>
        <div class="flex-column">
            <div class="auth__inputBox">
                <select name="code" class="form-input">
                    {{#each country}}
                    <option value="{{code}}">{{name}}&nbsp; {{code}}</option>
                    {{/each}}
                </select>

            </div>
            <div class="auth__inputBox">
                <input class="form-input" type="tel" name="phone" placeholder="phone" />
            </div>
        </div>
        <div>
            <label for="plan" class="h6">Select Plan</label>
            <div class="auth__inputBox">
                <select id="plan" name="plan" class="form-input">
                    {{#each plan}}
                    <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                </select>

            </div>
        </div>
        <div class="d-flex">
            <input type="checkbox" name="terms" id="terms">
            <label for="terms">I agree to receive your newsletters, company news, and product
                updates.</label>
        </div>
        <button id="authBtn" class="btn btn-purple ">Register</button>
        <div>
            <p>Already got an Account? </p>
            <a href="/auth/login" class="link">Login</a>
        </div>
    </form>
</main>