
<div class="dash-nav">
    <a><i class="la la-bell"></i></a>
    <h5 class="h6">John Doe</h5>
    <a > <i class="las la-cog"></i></a>
</div>
<div class="dash-body">


<!--    <h1 class="h4 ">Welcome to the Admin Dashboard</h1>-->

<!--    <div class=" mgT2 grid">-->
<!--        <div class="card grid-item1_3">-->
<!--            <h4 class="h6 light grey">BTC </h4>-->
<!--            <h2 class="h4 mgT1">2.465754647</h2>-->
<!--        </div>-->
<!--        <div class="card grid-item1_3">-->
<!--            <h4 class="h6 light grey">XRP </h4>-->
<!--            <h2 class="h4 mgT1">2.465754647</h2>-->
<!--        </div>-->
<!--        <div class="card grid-item1_3">-->
<!--            <h4 class="h6 light grey">ETH </h4>-->
<!--            <h2 class="h4 mgT1">2.465754647</h2>-->
<!--        </div>-->
<!--    </div>-->


    <!--                   List Of Customers SECTION-->
    <h4 class="h4">List of Active Miners</h4>
    <div class="mgT4 grid">
        <div class="grid-item-f transaction-table-cont">
            <table class="transaction-table">
                <thead>
                <tr><th>User Id</th> <th>Account</th><th>BTC balance</th> <th>Total Profit</th></tr>
                </thead>
                <tbody>
{{#each users}}
    <tr><td>{{_id}}</td><td>{{fullName}}</td><td>2.00000000</td><td>45.00000000</td></tr>
{{/each}}



                </tbody>
            </table>
        </div>
    </div>
    <!--            <a class="btn btn-success">View More</a>-->
    <h3 class="mgT4 h6">Available Plans</h3>
    <!--            Plans section-->

    <div class="grid mgT4 mgV2">

        {{#each plans}}
            <div class="grid-item1_4 card">
                <h4 class="h4">{{title}}</h4>
                <div class="pd2 mgV2 admin_plan_data">
                    <h5 class="h6 mgT1">{{cost}} <i class="la la-btc icon24"></i></h5>
                    <p class="h6 mgT1">{{profit}}</p>
                    <p class="h6 mgT1">{{description}}</p>

                </div>
                <a href="/admin/editPlan/{{_id}}" class="btn btn-purple">Edit</a>
            </div>
        {{/each}}
    </div>

</div>
