<div class="dash-nav">
    <h5 class="h6">Admin</h5>
</div>
<div class="dash-body">

    <!--                   Users SECTION-->

    <h3 class="h3">Edit Plans</h3>
    <p class="h6">Below You will find a list of valid Plans</p>

    <div class="mgV2">
        <a href="/admin/createPlan" class="btn btn-green"><i class="las la-plus icon16"></i><span class="mgL2">Create Plan</span></a>
    </div>

    <div class="mgT4 grid">
        <div class="grid-item-f transaction-table-cont">
            <table class="transaction-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Plan Title </th>
                    <!--                          ADD IMAGE SPACE-->
                    <th>Cost</th>
                    <th>Duration</th>
                    <th>Profit</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>



                {{#each plan}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{title}}</td>
                        <td>{{cost}}</td>

                        <td>{{duration}}</td>
                        <td>{{profit}}</td>
                        <td class="display_inline-table" ><h6 class="h6">
                            {{description}}
                        </h6></td>


                        <td>
                            <a href="/admin/editPlan/{{_id}}" class="btn btn-success">Update</a>

                         <a href="/admin/deletePlan/{{_id}}" class="btn btn-red mgT2">Delete</a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

   </div>
