

<form class="card form width50" method="post" action="/client/profile/edit/{{user._id}}">
    <h6 class="h4">Edit Account</h6>

            <div class="form-input-box">
                <input class="form-input" value="{{user.fullName}}" name="fullName" placeholder="Full Name"/>
            </div>
            <div class="form-input-box">
                <input class="form-input" type="email" value="{{user.email}}" name="email" placeholder="Email"/>

            </div>


            <div class="form-input-box">
                <select name="Country" class="form-input">
                    {{#each country}}
                        <option>{{country_name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-input-box">
                <select name="code" class="form-input">
                    {{#each country}}
                        <option value="{{country_phone_code}}">{{country_name}}&nbsp; {{country_phone_code}}</option>
                    {{/each}}
                </select>

            </div>
            <div class="form-input-box">
                <input class="form-input" type="tel" value="{{user.phone}}" name="phone" placeholder="phone"/>

            </div>

<!--    <div class="mgT2">-->
<!--        <input type="checkbox" name="terms" id="terms">-->
<!--        <label class="h5 mgL2" for="terms">I agree to receive your newsletters, company news, and product updates.</label>-->
<!--    </div>-->
    <button  class="mgT2 btn btn-green">Save</button>

</form>
<a href="/client/editPassword" class="btn btn-red mgT2">Change Password</a>