
<!--                   STATS SECTION-->
<h1 class="h4">Hello,

        {{userInfo.fullName}}
    </h1>

{{#if success_message}}
    <div class="success-msg mgT2">
        <h2 class="h6">{{success_message}}</h2>
    </div>
{{/if}}

{{#if failure_message}}
    <div class="error-msg mgT2">
        <h2 class="h6">{{failure_message}}</h2>
    </div>
{{/if}}
<div class="mgT2 grid">
    <div class="grid-item2_4 card display_flex">
        <div class="stats_icon-box bg-success">
            <i class="la la-dollar-sign success"></i>
        </div>
        <div class="stats_textBox">
            <h4 class="h6 ">Current Investment</h4>
            <p class="h4 mgT1">${{#if userInfo.balance}}
                {{userInfo.balance.currentInvestment}}
            {{else}}0
            {{/if}}


<!--                <i class="la la-angle-down stats_icon"></i> -->
            </p>
        </div>
    </div>
    <div class="grid-item2_4 card display_flex">
        <div class="stats_icon-box bg-success">
            <i class="la la-dollar-sign success"></i>
        </div>
        <div class="stats_textBox">
            <h4 class="h6 ">Current Returns</h4>
            <p class="h4 mgT1">${{#if userInfo.balance}}
                {{userInfo.balance.currentReturns}}
            {{else}}0
            {{/if}}
            </p>
        </div>
    </div>
    <div class="grid-item2_4 card  display_flex">
        <div class="stats_icon-box bg-yell">
            <i class="la la-btc gold"></i>
        </div>
        <div class="stats_textBox">
            <h4 class="h6 ">Wallet Balance</h4>
            <p class="h4 mgT1">BTC{{#if userInfo.balance}}
                {{userInfo.balance.btcBalance}}
            {{else}} 0.0000
            {{/if}}
<!--                <i class="la la-angle-up stats_icon"></i>-->
            </p>
        </div>
    </div>



</div>

<h2 class="h5 mgT4">Transactions</h2>
<div class="grid mgV2">
    <div class="grid-item3_4 transaction-table-cont">
        <table class="darkTable">
            <thead>
            <tr><th>Type</th> <th>BTC Address</th><th><i class="la la-btc"></i>BTC</th><th>status</th></tr>
            </thead>
            <tbody>

            {{#if transactions}}
                {{#each transactions}}
                    <tr><td>{{type}}</td><td>{{btcAddress}}</td><td>{{amount}}</td><td  class="{{status}}">{{status}}</td></tr>
                {{/each}}
            {{else}}
                <tr class="card">
                    <td colspan="4" class="h4">You Have no transactions</td>
                </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
    <div class="grid-item1_4">
        <div class="card">
            <p class="h6 ">Current plan</p>
            <h3 class="h5">{{#if userInfo.plan}}
               {{userInfo.plan.title}}
            {{else}}   Silver Plan
            {{/if}}

            </h3>

            <a href="/client/upgrade" class="btn btn-purple mgT1"><span>Upgrade </span> <i class="la la-chevron-circle-up"></i></a>
        </div>


    </div>
</div>


<div class="grid ">
    <section class="grid-item3_4">
        <div class="mgT4 transaction-table-cont">
            <table class="transaction-table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Currency</th>
                    <th>Symbol</th>
                    <th>Name</th>

                    <th>Price - USD</th>

                    <th>Market CAP</th>
                    <th>Supply</th>
                    <th>24 Hour Change</th>
                </tr>
                </thead>
                <tbody id="liveTable">
                </tbody>
            </table>
    </section>
</div>



