
<!--                   STATS SECTION-->
<h1 class="h4">Hello,

        {{userInfo.fullName}}
    </h1>
<div class="mgT2 grid">
    <div class="grid-item2_4 card display_flex">
        <div class="stats_icon-box bg-success">
            <i class="la la-dollar-sign success"></i>
        </div>
        <div class="stats_textBox">
            <h4 class="h6 light grey">Current Investment</h4>
            <p class="h3 mgT1">${{#if userInfo.balance}}
                {{currentInvestments}}
            {{else}}0
            {{/if}}


<!--                <i class="la la-angle-down stats_icon"></i> -->
            </p>
        </div>
    </div>
    <div class="grid-item2_4 card display_flex">
        <div class="stats_icon-box bg-success">
            <i class="la la-dollar-sign success"></i>
        </div>
        <div class="stats_textBox">
            <h4 class="h6 light grey">Current Returns</h4>
            <p class="h3 mgT1">${{#if balance}}
                {{currentReturns}}
            {{else}}0
            {{/if}}
            </p>
        </div>
    </div>
    <div class="grid-item2_4 card  display_flex">
        <div class="stats_icon-box bg-yell">
            <i class="la la-btc yellow"></i>
        </div>
        <div class="stats_textBox">
            <h4 class="h6 light grey">Wallet Balance</h4>
            <p class="h3 mgT1">BTC{{#if balance}}
                {{btcBalance}}
            {{else}} 0.0000
            {{/if}}
<!--                <i class="la la-angle-up stats_icon"></i>-->
            </p>
        </div>
    </div>



</div>

<h2 class="h5 mgT4">Transactions</h2>
<div class="grid mgV2">
    <div class="grid-item3_4 transaction-table-cont">
        <table class="transaction-table">
            <thead>
            <tr><th>Transaction Id</th> <th>BTC Address</th><th><i class="la la-btc"></i>BTC</th><th>status</th></tr>
            </thead>
            <tbody>

            {{#if userInfo.transactions}}
                {{#each userInfo.transactions}}

                    <tr><td>{{_id}}</td><td>{{btcAddress}}</td><td>{{amount}}</td><td  class="{{status}}">{{status}}</td></tr>
                {{/each}}
            {{else}} No transaction yet
            {{/if}}
            </tbody>
        </table>
    </div>
    <div class="grid-item1_4">
        <div class="card">
            <p class="h6 light grey">Current plan</p>
            <h3 class="h3">{{#if plan}}
               {{plan}}
            {{else}}   Silver Plan
            {{/if}}

            </h3>

            <a class="btn btn-purple mgT1"><span>Upgrade </span> <i class="la la-chevron-circle-up"></i></a>
        </div>
        <!--                           <div class="card mgT2">-->

        <!--                           </div>-->

    </div>
</div>


<div class="grid">
    <div class="grid-item3_4">
        <div class="card">
            <div id="chart">

            </div>
        </div>
    </div>
    <div class="grid-item1_4 grid flex-dir-c">
                   <div class="card grid-item1_3 ">-->
                        <h4 class="h6 light grey">BTC </h4>
                        <h2 class="h4 mgT1">2.465754647</h2>
                    </div>
                    <div class="card grid-item1_3">
                        <h4 class="h6 light grey">XRP </h4>
                        <h2 class="h4 mgT1">2.465754647</h2>
                    </div>
                    <div class="card grid-item1_3">
                        <h4 class="h6 light grey">ETH </h4>
                        <h2 class="h4 mgT1">2.465754647</h2>
                    </div>
    </div>
</div>



<!--<h2 class="h5 mgT4">Top Gainers</h2>-->
<!--<div class="grid mgV2">-->
<!--    <div class="grid-item2_4 ">-->
<!--        <table class="transaction-table">-->
<!--            <thead>-->
<!--            <tr><th>User Id</th> <th>Account</th></tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr><td>fd34282892</td><td>Lucas Fredd</td></tr>-->
<!--            <tr><td>fd34282892</td><td>Tolu KMO</td></tr>-->
<!--            <tr><td>fd34282892</td><td>Femi ASH</td></tr>-->

<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="grid-item2_4 grid">-->
<!--        <div class="card grid-item1_3">-->
<!--            <h4 class="h6 light grey">BTC </h4>-->
<!--            <h2 class="h4 mgT1">2.465754647</h2>-->
<!--        </div>-->
<!--        <div class="card grid-item1_3">-->
<!--            <h4 class="h6 light grey">XRP </h4>-->
<!--            <h2 class="h4 mgT1">2.465754647</h2>-->
<!--        </div>-->
<!--        <div class="card grid-item1_3">-->
<!--            <h4 class="h6 light grey">ETH </h4>-->
<!--            <h2 class="h4 mgT1">2.465754647</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
