<!--                   Users SECTION-->

<h3 class="h4">Fund Wallet</h3>
<p class="h6 mgT1">Fund your wallet with a few clicks</p>
<div>
    <!--               <h2 class="h6 ">Deposit Form</h2>-->
    <form action="/p/pay" method="post" class="card_w">



        <!--                   Toggle on request validity-->
        {{#if data}}
        <div class="form-btc_box">
            <img src="{{data}}" />
        </div>
        <div class="auth__inputBox">
            <input name="btcAddress" id="copy" value="{{walletAddress}}" class="form-input h6"/>
        </div>
        {{else}}
        <div class="auth__inputBox">
            <select name="investmentType" class="form-input-select">
                {{#each plan}}
                <option value="{{title}}">{{title}}</option>

                {{/each}}
            </select>
        </div>
        <div class="auth__inputBox">
            <input name="amount" placeholder="Amount" class="form-input" />
        </div>
        {{/if}}
    {{#if data}}
        <a id="copyBtn"  class="btn btn-primary">
            Scan Or Copy To Pay
        </a>
    {{else}} <button class="btn btn-primary">
        Pay
    </button>
        {{/if}}

    </form>
</div>