<h6 class="h4">Upgrade Verification</h6>

<form class="card pd4 width50 mgT2" method="post" action="/client/upgrade/{{id}}">
    <label class="h5" for="plans">Pay to upgrade</label>
    <p class="h6">Amount to Pay</p>
    <div class="form-input-box">

        <input placeholder="Amount to Pay" name="amount" value="{{amount_toPay}}" class="form-input"/>


    </div> <p class="h6">Plan</p>
    <div class="form-input-box">
        <input placeholder="plan " disabled value="{{hash_plan}}" class="form-input"/>
        <input placeholder="plan " disabled hidden name="plan" value="{{hash_code}}" class="form-input"/>
    </div>
    {{#if data}}
        <div class="form-btc_box mgT2">
            <img src="{{data}}" />
        </div>
        <div class="form-input-box">
            <input name="btcAddress"  id="copy" value="{{walletAddress}}" class="form-input h6"/>
        </div>
    {{else}}
    {{/if}}




    <button  class="mgT2 btn btn-green ">Click to complete payment</button>

</form>