{{> navbar}}
{{!-- <header class="header"> --}}
    <main>
        <header>
            <div class="owl-carousel owl-theme">
                <div class="owl-slide d-flex align-items-center cover"
                    style="background-image: url(/images/home/img-1.jpg);">
                    <div class="container">
                        <div class="container__row">
                            <div class="container__col-lg-6 container__col-md-12 container__col-xs-12 " style="
    justify-content: center;
    align-self: center;
">
                                <div class="owl-slide-text">
                                    <h2 class="owl-slide-animated owl-slide-title">
                                        Enkrypt Finance Trading
                                    </h2>
                                    <div class="owl-slide-animated owl-slide-subtitle mb-3">
                                        At Enkrypt Finance Trading, our purpose is to make a difference in the lives of
                                        our
                                        financial
                                        professionals.
                                    </div>
                                    <a class="btn btn-primary owl-slide-animated owl-slide-cta mt-5" href=""
                                        role="button">
                                        About
                                    </a>
                                </div><!-- /owl-slide-text -->
                            </div>
                        </div>
                    </div>
                </div><!-- /slide1 -->
                <div class="owl-slide d-flex align-items-center cover"
                    style="background-image: url(/images/home/img-2.jpg);">
                    <div class="container">
                        <div class="container__row">
                            <div class="container__col-lg-6 container__col-md-12 container__col-xs-12 " style="
    justify-content: center;
    align-self: center;
">
                                <div class="owl-slide-text">
                                    <h2 class="owl-slide-animated owl-slide-title">
                                        Enkrypt Finance Trading
                                    </h2>
                                    <div class="owl-slide-animated owl-slide-subtitle mb-3">
                                        At Enkrypt Finance Trading, our purpose is to make a difference in the lives of
                                        our
                                        financial
                                        professionals.
                                    </div>

                                </div><!-- /owl-slide-text -->
                            </div>
                        </div>
                    </div>
                </div><!-- /slide1 -->

            </div>
        </header>

        <section class="covid">
            <h2>COVID-19 Resource Center</h2>
            <p class="mt-1">Get the latest updates on Enkrypt Finance's response to COVID-19, as well as
                timely
                market insights, webinars, digital tools and resources for fast online services
                <a class="link">Learn More</a>

            </p>
        </section>
        <section class="choice">
            <div class="container pt-17 pb-17">
                <div class="container__row">
                    <div class="container__col-sm-12 container__col-md-6 container__col-lg-6 pr-lg-15">
                        <div>
                            <p class="choice__subheading text-primary">
                                Why choose us
                            </p>
                            <h1 class="choice__heading">
                                3+ Years of experience in digital crypto currency business.
                            </h1>
                            <p>The story of Enkrypt started at the end of 2017. Our founders got to know each other
                                by using the same platform for buying and selling Bitcoins. They were fascinated by the
                                technology and wanted to build their own farm, only to realize all their friends wanted
                                to participate as well.</p>
                            <div class="mt-7">
                                <div class="container__row text-md-center">
                                    <div class="container__col-sm-12  container__col-md-12 container__col-lg-3 ">
                                        <img src="/images/1.png" alt="active management" width="auto" height="70px" />
                                    </div>
                                    <div class="container__col-lg-9">
                                        <h4 class="mb-2">Active Management
                                        </h4>
                                        <p>We believe that active management is the responsible way to invest our
                                            clients' assets.</p>
                                    </div>
                                </div>
                                <div class="container__row mt-4 text-md-center">
                                    <div class="container__col-sm-12 container__col-md-12 container__col-lg-3 ">
                                        <img src="/images/2.png" alt="innovation" width="auto" height="70px" />
                                    </div>
                                    <div class="container__col-lg-9">
                                        <h4 class="mb-2">Innovation</h4>
                                        <p>We innovate to give our clients an edge. Our time tested, fail safe
                                            strategies are designed to do just that.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="container__col-sm-12 container__col-md-6 container__col-lg-6 text-md-center ">
                        <div class="image__part">
                            <img src="/images/why-choose-us.jpg" alt="why choose us" class="choice__img" />
                        </div>
                    </div>

                </div>
            </div>

        </section>



        <section class="process-section">
            <div class="container pt-10 pb-10">
                <h4 class="text-primary">WHERE DO I START?</h4>
                <h2 class="mt-1">Four Easy Steps Of Getting Into The Market</h2>
                <p class="mt-1">Follow this roadmap to your future</p>
                <a href="/gettingstarted" class="btn btn-primary mt-2">Let's do this</a>
            </div>
        </section>


        <section>
            <div class="container pt-10 pb-10">
                <h4 class="text-center mb-3 text-primary">LIVE PRICES</h4>
                <div class="transaction-table-cont">
                    <table class="transaction-table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Currency</th>
                                <th>Symbol</th>
                                <th>Name</th>

                                <th>Price - USD</th>

                                <th>Market CAP</th>
                                <th>Supply</th>
                                <th>24 Hour Change</th>


                            </tr>
                        </thead>
                        <tbody id="liveTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="service">
            <div class="container ">
                <div>
                    <h2 class="service__heading text-center">Services</h2>
                    <ol>
                        <li>
                            <h4>For Brokerage Services:</h4>
                            <p class="mt-1">Enkrypt Finance Securities will restore to your account cash and/or shares
                                of
                                securities
                                equal to the amount of cash and/or securities in your account at the time of any
                                unauthorized
                                activity.
                                "Loss" does not include any tax consequences. Any unauthorized trades will be reversed
                                and
                                positions will be reinstated.
                            </p>
                        </li>
                        <li>
                            <h4>For Lending Services:</h4>
                            <p class="mt-1">
                                "Loss" ids defined as an increase in the outstanding account balance at the time of
                                unauthorized
                                account use and any additional interest accrued as a result.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="container pt-10 pb-10">
                <div class="text-center">
                    <h4 class="text-primary">We Make Mining So Easy</h4>
                    <p class="mt-2">With our easy to use service</p>
                </div>
                <div class="mt-5 mb-5 grid">
                    <div class="grid-item1_4 about-card">
                        <i class="la la-running "></i>
                        <h3 class="mt-2">Fast Service</h3>
                    </div>
                    <div class="grid-item1_4 about-card">
                        <i class="la la-comment-dots "></i>
                        <h3 class="mt-2">Good Customer Support</h3>
                    </div>
                    <div class="grid-item1_4 about-card">
                        <i class="la la-money-bill-wave-alt"></i>
                        <h3 class="mt-2">Best Rates</h3>
                    </div>
                    <div class="grid-item1_4 about-card">
                        <i class="la la-lock "></i>
                        <h3 class="mt-2">Secure Transactions</h3>
                    </div>
                </div>

            </div>
        </section>





        <section>
            <div class="container pt-10 pb-10">
                <div class="container__row">
                    <div class="container__col-lg-6">
                        <img class="flowImg" src="./images/invest.jpg" />
                    </div>
                    <div class="container__col-lg-6 ">
                        <div class="ml-10">
                            <h4 class="text-primary">HOW DO I INVEST?</h4>
                            <h2 class="mt-2">Easy To Use Tools & Dashboard</h2>
                            <p class="mt-4">We'll help you grow at an unprecedented Rate</p>
                            <a href="/gettingstarted" class="btn-bordered btn-bordered-primary mt-10">Learn as you
                                grow</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <div class="container pt-10 pb-10">
                <h3 class="text-center">Zero commissions, Zero Compromises </h3>
                <div class="grid mt-3">
                    <div class="card grid-item2_4 centerText">
                        <i class="la la-exchange-alt icon48 text"></i>
                        <h3 class="mt-1">$0 commission trades</h3>
                        <p class="mt-3">Online US-listed stocks, ETFs, and options</p>
                    </div>
                    <div class="card grid-item2_4 centerText">
                        <i class="la la-bullseye icon48 text"></i>
                        <h3 class="mt-1">Full Range Investments</h3>
                        <p class="mt-3">Plus professionally managed accounts</p>
                    </div>
                    <div class="card grid-item2_4 centerText">
                        <i class="la la-tablet icon48 text"></i>
                        <h3 class="mt-1">Easy, intuitive platforms</h3>
                        <p class="mt-3">Best mobile and web experience</p>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <div class="black-box container-fluid">

                <h2>Commission-free trades, plus a little something extra. <a href="/offers"
                        class="offer_link icon24">Learn
                        How</a></h2>
                <p class="mt-2">
                    Get $600 when you open and fund a new account with $250,000 or add even more for up to $2,500
                </p>
                <a class="btn btn-primary mt-2">Open account</a>
            </div>

        </section>


        <section class="plan">
            <div class="container">
                <div>
                    <h4 class="text-center">Investment & Mining Prices</h4>
                    <div class="plan__grid mt-4">
                        {{#if plan}}
                        {{#each plan}}
                        <div class=" plan-card">
                            <div class="overlayText">
                                <span>{{title}}</span>
                            </div>
                            <img class="flowImgP" src="/images/btc.jpg" />
                            <h3 class="mt-1">{{title}}</h3>
                            <h4 class="mt-2 plan-card-h">${{cost}}</h4>
                            <div class="mt-2 plan-details">
                                <ul>
                                    <li>{{profit}}</li>
                                    <li>{{description}}</li>
                                </ul>
                            </div>
                            <a href="/auth/signup" class="btn btn-plan plan-btn">
                                Register <i class="las la-arrow-circle-right"></i>
                            </a>

                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="mt-6">
                        <a href="/plans" class="text-primary">See more pricing<i
                                class="la la-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!--END OF PLANS SECTION-->
        <section class="converter pt-10 pb-10">
            <crypto-converter-widget live shadow symbol fiat="united-states-dollar" crypto="bitcoin" amount="1"
                border-radius="0.60rem" background-color="#002e52" decimal-places="2" font-family="inherit">
            </crypto-converter-widget>
        </section>

        <section>
            <div class="container pt-10 pb-10">
                <div class="container__row">
                    <div class="container__col-lg-6 container__col-md-12 container__col-sm-12">
                        <ul>
                            <li>ABOUT US</li>
                        </ul>
                        <h3 class='text-primary'>WHY CHOOSE US? <br /> BECAUSE WE ARE THE BEST!</h3>
                        <div class="mt-4">
                            <p>Enkrypt is a cloud mining service created by the Cryptocurrency Mining specialists
                                from United State of America in 2016. In a short time, Enkrypt became one of the
                                fastest growing providers of computational power for mining bitcoin, litecoin, ethereum
                                and other cryptocurrencies.
                            </p>
                            <p class="mt-2">
                                Enkrypt is an independent company. The variety of equipment that is used for mining
                                was significantly increased on the account such companies as Bitmain, Bitfury, Inno3d
                                and many others
                            </p>
                        </div>
                    </div>
                    <div
                        class="container__col-lg-6  container__col-md-12 container__col-sm-12 text-center counter__section">
                        <div class="count__container">
                            <h6 class=""><span class="count_text"></span>Total Investors</h6>
                            <h3 data-target="40656" class="count">0</h3>
                        </div>
                        <div class="count__container">
                            <h6 class=""><span class="count_text"></span>Total Users</h6>
                            <h3 data-target="80897" class="count">0</h3>
                        </div>
                        <div class="count__container">
                            <h6 class=""><span class="count_text"></span>Total Deposits</h6>
                            <h3 data-target="1890900569" class="count">0</h3>
                        </div>
                        <div class="count__container">
                            <h6 class=""><span class="count_text"></span>Total Withdrawal</h6>
                            <h3 data-target="670879034087" class="count">0</h3>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="container pt-10 pb-10">
                <h4 class="text-center mb-3 text-primary">LATEST WITHDRAWALS</h4>
                <div class="transaction-table-cont">
                    <table class="transaction-table">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>Date</th>
                                <th>AMOUNT</th>
                                <th>PACKAGE</th>

                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Martins</td>
                                <td>28/04/2021</td>
                                <td>$700,000</td>
                                <td>Ruby</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Captain</td>
                                <td>28/04/2021</td>
                                <td>$350,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Captain</td>
                                <td>28/04/2021</td>
                                <td>$700,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Captain</td>
                                <td>28/04/2021</td>
                                <td>$700,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Modla</td>
                                <td>28/04/2021</td>
                                <td>$10,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Tina</td>
                                <td>28/04/2021</td>
                                <td>$101,000</td>
                                <td>Ruby</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text-primary mt-5">Only recent Investors that withdrew this Month, April, 2021 are displayed.
                </p>
            </div>
        </section>
        <section>
            <div class="container-fluid pt-10 pb-10">
                <div class="text-center">
                    <ul>
                        <li>REAL TESTIMONIALS</li>
                    </ul>
                    <h2 class="text-primary">What They Say About Us</h2>
                </div>
                {{>testimonial}}
            </div>
        </section>

        <section class="mt-4 faq-section">
            <div class="container">
                <h3 class="text-primary">Have questions?</h3>
                <h4 class="mt-1">For Fast assistance, consider checking our comprehensive online FAQs</h4>
                <a href="/faqs" class="btn-bordered-primary btn-bordered mt-2">Visit FAQs</a>
            </div>
        </section>


    </main>

    {{>footer_}}
    {{!-- {{>footer}} --}}