
<header class="header">

    <nav class="home-nav" id="top_nav">
        <figure>
            <figure>
                <a href="/" class="link">  <img src="/images/lgo.jpg" class="logo"/></a>
            </figure>
        </figure>
        <input checked type="checkbox" id="menu_home"/>
        <label for="menu_home" class="menu_home">
            <span class="menu_home-bar">&nbsp;</span>
        </label>
        <ul class="home-nav-list">
            <li class="home-nav-list-item">
                <a  href="/" class="home-nav-list-item-link">Home</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/plans" class="home-nav-list-item-link">Plans</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/about" class="home-nav-list-item-link">About</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/faqs" class="home-nav-list-item-link">FAQs</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/terms" class="home-nav-list-item-link">Terms & Policy</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/auth/signup" class="btn btn-purple">Sign up</a>
            </li>
            <li class="home-nav-list-item">
                <a href="/auth/login" class="btn btn-purple">login</a>
            </li>
        </ul>
    </nav>
    <div class="header-box">
        <h1 class="h2">Mine Bitcoin & Buy Real Estate</h1>
        <p class="h5 mgT1">Do all these seamlessly in BTC</p>
        <a href="/auth/signup" class="btn_reg mgT2">Sign up</a>
    </div>

</header>

<div class="covid">
    <h2 class="h4">COVID-19 Resource Center</h2>
    <p class="h5 mgT1 greyText">Get the latest updates on Enkrypt Finance's response to COVID-19, as well as timely market insights, webinars, digital tools and resources for fast online services
        <a class="link">Learn More</a>
    </p>
</div>


<!--<section class=" liveCrypto-section">-->
<!--    <h3 class="h4 grey">Live Feed of Trades</h3>-->
<!--    <div class="grid mgT2">-->
<!--        <div class="grid-item1_4 crypto-card">-->
<!--            <div class="crypto-card-icon-box">-->
<!--                <div class="crypto-card-icon-box-icon">-->
<!--                    <i class="la la-btc"></i>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="crypto-card-icon-text">-->
<!--                <h5 class="h6 crytpo-currency">BTC</h5>-->
<!--                <p class="h3 crypto-rate red">-2.68%</p>-->
<!--            </div>-->



<section class="process-section">
    <div class="home_layout">
        <h4 class="h4">WHERE DO I START?</h4>
        <h2 class="h2 mgT1">Four Easy Steps Of Getting Into The Market</h2>
        <p class="h4 mgT1">Follow this roadmap to your future</p>
        <a href="/gettingstarted" class="btn btn-primary mgT2">Let's do this</a>
    </div>

</section>

<section class="home_layout">
    <div class="mgT4 transaction-table-cont">
        <table class="transaction-table">
            <thead>
            <tr>
                <th>Currency</th>
                <th>Symbol</th>
                <th>Price - USD</th>
                <th>Date</th>
                <th>Time</th>


            </tr>
            </thead>
            <tbody id="liveTable">





            </tbody>
        </table>
</section>
<section class="mgV6 about">
    <div class="home_layout">
        <div class="centerText">
            <h4 class="h3 ">We Make Mining So Easy</h4>
            <p class="mgT1 h5">With our easy to use service</p>
        </div>
        <div class="mgV4 grid">
            <div class="grid-item1_4 about-card">
                <i class="la la-running "></i>
                <h3 class="h5 mgT1">Fast Service</h3>
            </div>
            <div class="grid-item1_4 about-card">
                <i class="la la-comment-dots "></i>
                <h3 class="h5 mgT1">Good Customer Support</h3>
            </div>
            <div class="grid-item1_4 about-card">
                <i class="la la-money-bill-wave-alt"></i>
                <h3 class="h5 mgT1">Best Rates</h3>
            </div>
            <div class="grid-item1_4 about-card">
                <i class="la la-lock "></i>
                <h3 class="h5 mgT1">Secure Transactions</h3>
            </div>
        </div>

    </div>
</section>





<section class="mgT4 growth-section">
    <div class="home_layout grid">
        <div class="grid-item2_4">
            <img src="./images/invest.jpg" />
        </div>
        <div class="grid-item2_4 ">
            <div class="mgL2">
                <h4 class="h4">HOW DO I INVEST?</h4>
                <h2 class="h2 mgT1">Easy To Use Tools & Dashboard</h2>
                <p class="h4 mgT1">We'll help you grow at an unprecedented Rate</p>
                <a href="/gettingstarted" class="btn-bordered btn-bordered-primary mgT2">Learn as you grow</a>
            </div>
        </div>
    </div>

</section>

<div class="mgT4">
    <div class="home_layout">
        <h3 class="h3 centerText">Zero commissions, Zero Compromises </h3>
        <div class="grid mgT4">
            <div class="card grid-item2_4 centerText">
                <i class="la la-exchange-alt icon48 greyText"></i>
                <h3 class="h5 mgT1">$0 commission trades</h3>
                <p class="h6 mgT1">Online US-listed stocks, ETFs, and options</p>
            </div>
            <div class="card grid-item2_4 centerText">
                <i class="la la-bullseye icon48 greyText"></i>
                <h3 class="h5 mgT1">Full Range Investments</h3>
                <p class="h6 mgT1">Plus professionally managed accounts</p>
            </div>
            <div class="card grid-item2_4 centerText">
                <i class="la la-tablet icon48 greyText"></i>
                <h3 class="h5 mgT1">Easy, intuitive platforms</h3>
                <p class="h6 mgT1">Best mobile and web experience</p>
            </div>
        </div>
    </div>

</div>

<div class="black-box">
    <h2 class="h4">Commission-free trades, plus a little something extra. <a href="/offers" class="link icon24">Learn How</a></h2>
    <p class="h5 mgT1 greyText">
        Get $600 when you open and fund a new account with $250,000 or add even more for up to $2,500
    </p>
    <a class="btn btn-primary mgT2">Open account</a>
</div>








<section class="mgT4 plan-section">

    <div class="home_layout">
        <h4 class="h3">Investment & Mining Prices</h4>
        <div class="grid mgT4">


            {{#if plan}}
                {{#each plan}}
                    <div class="grid-item1_3 plan-card">
                        <div class="overlayText">
                            <span>{{title}}</span>
                        </div>
                        <img class="flowImgP" src="/images/btc.jpg"/>
                        <h3 class="h4 mgV2">{{title}}</h3>
                        <h4 class="h2 mgV2 plan-card-h">${{cost}}</h4>
                        <div class="mgV2 plan-details">
                            <ul>
                                <li>{{profit}}</li>
                                <li>{{description}}</li>
                                <!--                            <li>Running on Water</li>-->
                            </ul>
                        </div>
                        <a href="/auth/signup" class="btn btn-plan">
                            Register <i class="las la-arrow-right"></i>
                        </a>

                    </div>
                {{/each}}
            {{/if}}
       </div>
            <div class="mgT4">
            <a href="/plans" class="h5">See more pricing<i class="la la-long-arrow-alt-right"></i></a>
        </div>
    </div>
</section>
<!--END OF PLANS SECTION-->


<div class="mgT4 faq-section">
    <div class="home_layout centerText">
        <h3 class="h3">Have questions?</h3>
        <h4 class="h4 mgT1">For Fast assistance, consider checking our comprehensive online FAQs</h4>
        <a href="/faqs" class="btn-bordered-primary btn-bordered mgT2">Visit FAQs</a>
    </div>
</div>
{{>footer}}