{{> navbar}}
{{!-- <header class="header"> --}}
    <main>
        <header class="hero">
            <div class="owl-carousel ">
                <div class="owl-slide ">

                            <div class="hero-center grid width65_ container " >
                                <!-- /owl-slide-text -->
                                <div class="grid-item2_4">
                                    <div class="owl-slide-text">
                                        <h1 class=" h2 ">
                                            AI Assisted Trading
                                        </h1>
                                        <p class=" h6 mgT1">
                                            At Enkrypt Finance Trading, our purpose is to make a difference in the lives of
                                            our
                                            financial
                                            professionals with our state of the Art AI
                                        </p>
                                        <a class="btn_reg mgT2" href="/about"
                                           role="button">
                                            About
                                        </a>
                                    </div>
                                </div>
                                <div class="grid-item2_4 card width35">
                                    <img alt="" class="flowImg" src="/images/home/hero-2.jpg">
                                </div>
                            </div>
                </div><!-- /slide1 -->
<!--                style="background-image:linear-gradient(-45deg,#001d3d, rgba(0,61,114,0.7)),url('/images/home/hero-4.jpg')"-->
                <div class="owl-slide" >
                    <div class="hero-center grid width65_ container">
                                <div class="grid-item2_4">
                                    <div class="owl-slide-text">
                                        <h1 class="owl-slide-animated owl-slide-title h2">
                                            Easy  & Seamless Trading
                                        </h1>
                                        <p class="owl-slide-animated owl-slide-subtitle h6 mgT1">
                                            We Take The risks away from You, Making your Life more Convenient
                                        </p>
                                        <a class="btn_reg mgT2" href="/auth/signup"
                                           role="button">
                                            Sign Up
                                        </a>

                                    </div><!-- /owl-slide-text -->

                                    </div>
                        <div class="grid-item1_3 card_w ">
<!--                            <i class="las la-bolt icon48 goldIcon"></i>-->
                            <h5 class="h4">Its as Simple as <em class="emMd">ABC</em></h5>
                            <ol class="hero-list">
                                <li>Register</li>
                                <li>Select Plan</li>
                                <li>Let us do the work</li>
                                <li>Receive Your Profit</li>
                            </ol>

                        </div>

                            </div>

                </div><!-- /slide1 -->

            </div>
        </header>

        <section class="covid">
            <h2 class="h4">COVID-19 Resource Center</h2>
            <p class="h6 mgT1">Get the latest updates on Enkrypt Finance's response to COVID-19, as well as
                timely
                market insights, webinars, digital tools and resources for fast online services
                <a class="link">Learn More</a>

            </p>
        </section>
        <section class="choice pd4">
            <div class="container card-content">
                <div class="grid">
                    <div class="grid-item2_4">
                        <div>
                            <p class="h6 yellow-text">
                                Why choose us
                            </p>
                            <h1 class="h4 mgT1">
                                3+ Years of experience in digital crypto currency business.
                            </h1>
                            <p class="h5">The story of Enkrypt started at the end of 2017. Our founders got to know each other
                                by using the same platform for buying and selling Bitcoins. They were fascinated by the
                                technology and wanted to build their own farm, only to realize all their friends wanted
                                to participate as well.</p>
                            <div class="">
                                <div class="mgT2">
                                    <div class="">
                                        <img src="/images/1.png" alt="active management" width="auto" height="70px" />
                                    </div>
                                    <div class="">
                                        <h4 class="h6">Active Management
                                        </h4>
                                        <p class="h6">We believe that active management is the responsible way to invest our
                                            clients' assets.</p>
                                    </div>
                                </div>
                                <div class="mgT2">
                                    <div class="">
                                        <img src="/images/2.png" alt="innovation" width="auto" height="70px" />
                                    </div6
                                    <div class="">
                                        <h4 class="h6">Innovation</h4>
                                        <p class="h6">We innovate to give our clients an edge. Our time tested, fail safe
                                            strategies are designed to do just that.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid-item2_4">

                            <img src="/images/why-choose-us.jpg" alt="why choose us" class="flowImg" />
                    </div>

                </div>
            </div>

        </section>



        <section class=" card-content-fl" >
            <div class="container ">
                <h4 class="h4">WHERE DO I START?</h4>
                <h2 class="h5">Four Easy Steps Of Getting Into The Market</h2>
                <p class="h5">Follow this roadmap to your future</p>
                <a href="/gettingstarted" class="btn btn-primary mgT2">Let's do this</a>
            </div>
        </section>


        <section>
            <div class="container pt-10 pb-10">
                <h4 class="text-center mb-3 text-primary">LIVE PRICES</h4>
                <div class="transaction-table-cont">
                    <table class="transaction-table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Currency</th>
                                <th>Symbol</th>
                                <th>Name</th>

                                <th>Price - USD</th>

                                <th>Market CAP</th>
                                <th>Supply</th>
                                <th>24 Hour Change</th>


                            </tr>
                        </thead>
                        <tbody id="liveTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="service">
            <div class="container ">
                <div>
                    <h2 class="h4 text-center">Services</h2>
                    <ol class="mgT2">
                        <li>
                            <h4 class="h5">For Brokerage Services:</h4>
                            <p class="h6">Enkrypt Finance Securities will restore to your account cash and/or shares
                                of
                                securities
                                equal to the amount of cash and/or securities in your account at the time of any
                                unauthorized
                                activity.
                                "Loss" does not include any tax consequences. Any unauthorized trades will be reversed
                                and
                                positions will be reinstated.
                            </p>
                        </li>
                        <li>
                            <h4 class="h5">For Lending Services:</h4>
                            <p class="h6">
                                "Loss" ids defined as an increase in the outstanding account balance at the time of
                                unauthorized
                                account use and any additional interest accrued as a result.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="about centerText" >
            <div class="container ">
                <div class="text-center">
                    <h4 class="h4">We Make Mining So Easy</h4>
                    <p class="h6">With our easy to use service</p>
                </div>
                <div class="mgT2 grid">
                    <div class="grid-item1_4 about-card">
                        <i class="la la-running "></i>
                        <h3 class="mt-2">Fast Service</h3>
                    </div>
                    <div class="grid-item1_4 about-card">
                        <i class="la la-comment-dots "></i>
                        <h3 class="mt-2">Good Customer Support</h3>
                    </div>
                    <div class="grid-item1_4 about-card">
                        <i class="la la-money-bill-wave-alt"></i>
                        <h3 class="mt-2">Best Rates</h3>
                    </div>
                    <div class="grid-item1_4 about-card">
                        <i class="la la-lock "></i>
                        <h3 class="mt-2">Secure Transactions</h3>
                    </div>
                </div>

            </div>
        </section>





        <section >
            <div class="container invest-section card-content">
                <div class="grid" >
                    <div class="grid-item2_4">
                        <img alt="" class="flowImg" src="./images/test__.jpg" />
                    </div>
                    <div class="grid-item2_4 ">
                        <div class="ml-10">
                            <h4 class="h4">HOW DO I INVEST?</h4>
                            <h2 class="h6">Easy To Use Tools & Dashboard</h2>
                            <p class="h6 mgT1">We'll help you grow at an unprecedented Rate</p>
                            <a href="/gettingstarted" class="btn-bordered btn-bordered-primary mgT2">Learn as you
                                grow</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <div class="container ">
                <h3 class="h4 centerText">Zero commissions, Zero Compromises </h3>
                <div class="grid mgT2">
                    <div class="card grid-item2_4 centerText">
                        <i class="la la-exchange-alt icon48 text"></i>
                        <h3 class="h6">$0 commission trades</h3>
                        <p class="h6">Online US-listed stocks, ETFs, and options</p>
                    </div>
                    <div class="card grid-item2_4 centerText">
                        <i class="la la-bullseye icon48 text"></i>
                        <h3 class="h6">Full Range Investments</h3>
                        <p class="h6">Plus professionally managed accounts</p>
                    </div>
                    <div class="card grid-item2_4 centerText">
                        <i class="la la-tablet icon48 text"></i>
                        <h3 class="h6">Easy, intuitive platforms</h3>
                        <p class="h6">Best mobile and web experience</p>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <div class="black-box container-fluid">

                <h2 class="h4">Commission-free trades, plus a little something extra. <a href="/offers"
                        class="no-deco">Learn
                        How</a></h2>
                <p class="h6">
                    Get $600 when you open and fund a new account with $250,000 or add even more for up to $2,500
                </p>
                <a class="btn btn-primary mgT2">Open account</a>
            </div>

        </section>


        <section class="plan-section">
            <div class="container">
                    <h4 class="h4">Investment & Mining Prices</h4>
                    <div class="grid mgT2">
                        {{#if plan}}
                        {{#each plan}}
                        <div class="grid-item1_4 plan-card">
                            <div class="overlayText">
                                <p class="h6">{{title}}</p>

                            </div>
                            <img alt="{{title}}" class="flowImgP mgT2" src="/images/plan.jpg" />
                            <div class="plan-card-body">

                                <h4 class=" plan-card-h h4 mgT1">${{cost}}</h4>

                                <ul class="mgT2">
                                    <li><i class="las la-check-double green-text icon24"></i> <span class="mgL2">{{profit}}</span></li>
                                    <li><i class="las la-check-double green-text icon24"></i><span class="mgL2">{{description}}</span> </li>
                                </ul>
                                <div class="mgT3">
                                    <a href="/auth/signup" class="plan-btn">
                                        <span>Register </span><i class="las la-arrow-circle-right icon24"></i>
                                    </a>
                                </div>

                            </div>


                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="">
                        <a href="/plans" class="h5 ">See more pricing<i
                                class="la la-long-arrow-alt-right"></i></a>
                    </div>

            </div>
        </section>
        <!--END OF PLANS SECTION-->
        <section class="converter mgT2">
            <crypto-converter-widget live shadow symbol fiat="united-states-dollar" crypto="bitcoin" amount="1"
                border-radius="0.60rem" background-color="rgba(16 18 27 / 40%)" decimal-places="2" font-family="inherit">
            </crypto-converter-widget>
        </section>

        <section>
            <div class="container">
                <div class="grid">
                    <div class="grid-item2_4">
                        <ul>
                            <li class="h5">ABOUT US</li>
                        </ul>
                        <h3 class='h3'>WHY CHOOSE US? <br /> BECAUSE WE ARE THE BEST!</h3>
                        <div class="mgT4">
                            <p class="h5">Enkrypt is a cloud mining service created by the Cryptocurrency Mining specialists
                                from United State of America in 2016. In a short time, Enkrypt became one of the
                                fastest growing providers of computational power for mining bitcoin, litecoin, ethereum
                                and other cryptocurrencies.
                            </p>
                            <p class="mgT2 h5">
                                Enkrypt is an independent company. The variety of equipment that is used for mining
                                was significantly increased on the account such companies as Bitmain, Bitfury, Inno3d
                                and many others
                            </p>
                        </div>
                    </div>
                    <div
                        class="grid-item2_4 centerText">
                        <div class="count__container">
                            <h6 class="h5"><span class="count_text h2"></span>Total Investors</h6>
                            <h3 data-target="10656" class="count h2">0</h3>
                        </div>
                        <div class="count__container">
                            <h6 class="h5"><span class="count_text h2"></span>Total Users</h6>
                            <h3 data-target="30897" class="count h2">0</h3>
                        </div>
                        <div class="count__container">
                            <h6 class="h5"><span class="count_text h2"></span>Total Deposits</h6>
                            <h3 data-target="1000569" class="count h2">0</h3>
                        </div>
                        <div class="count__container">
                            <h6 class="h5"><span class="count_text h2"></span>Total Withdrawal</h6>
                            <h3 data-target="9034087" class="count h2">0</h3>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="container">
                <h4 class="centerText h5">LATEST WITHDRAWALS</h4>
                <div class="transaction-table-cont mgT2">
                    <table class="transaction-table">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>Date</th>
                                <th>AMOUNT</th>
                                <th>PACKAGE</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Matt Josep</td>
                                <td>28/11/2021</td>
                                <td>$20,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Philip Jones</td>
                                <td>1/12/2021</td>
                                <td>$250,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Alice Long</td>
                                <td>25/11/2021</td>
                                <td>$40,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>George Booker</td>
                                <td>2/12/2021</td>
                                <td>$300,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>Aba kareem</td>
                                <td>18/11/2021</td>
                                <td>$100,000</td>
                                <td>Ruby</td>
                            </tr>
                            <tr>
                                <td>John Grey</td>
                                <td>17/11/2021</td>
                                <td>$15,000</td>
                                <td>Ruby</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="h6 mgT1">Only recent Investors that withdrew Last Month, July, 2021 are displayed.
                </p>
            </div>
        </section>
        <section>
            <div class="container-fluid ">
                <div class="centerText">
                    <ul>
                        <li class="h6">REAL TESTIMONIALS</li>
                    </ul>
                    <h2 class="h4">What They Say About Us</h2>
                </div>
                {{>testimonial}}
            </div>
        </section>

        <section class="card-content-fl">
            <div class="container">
                <h3 class="h4">Have questions?</h3>
                <p class="mgT1 h6">For Fast assistance, consider checking our comprehensive online FAQs</p>
                <a href="/faqs" class="btn-bordered-primary btn-bordered mt-2">Visit FAQs</a>
            </div>
        </section>


    </main>

    {{>footer_}}
    {{!-- {{>footer}} --}}