

<section class="plan-section">

    <div class="home_layout">
        <div class="centerText">
            <h4 class="h3">Pricing and Rates</h4>
            <p class="h5 mgT1">We don't believe in holding back on information.
                Especially on pricing. Get the answers you're looking for. </p>
        </div>
        <h4 class="h4 mgT4 ">BTC Mining</h4>

        <div class="grid mgT4">



            {{#if plan}}
                {{#each plan}}
                    <div class="grid-item1_3 plan-card">
                        <div class="overlayText">
                            <span>{{title}}</span>
                        </div>
                        <img class="flowImgP" src="/images/btc.jpg"/>
                        <h3 class="h4 mgV2">{{title}}</h3>
                        <h4 class="h2 mgV2 plan-card-h">${{cost}}</h4>
                        <div class="mgV2 plan-details">
                            <ul>
                                <li>{{profit}}</li>
                                <li>{{description}}</li>
                                <!--                            <li>Running on Water</li>-->
                            </ul>
                        </div>
                        <a href="/auth/signup" class="btn btn-plan plan-btn">
                            Register <i class="las la-arrow-right"></i>
                        </a>

                    </div>
                {{/each}}
            {{/if}}
        </div>
        <div class="mgT4">
            <h3 class="h4 centerText">Detailed Pricing</h3>
            <div class="mgT2 transaction-table-cont">

                <table class="transaction-table">
                    <thead>
                    <tr>
                        <th>PLAN</th>
                        <th>COST</th>
                        <th>PROFIT</th>
                        <th> DURATION</th>
                    </tr>
                    </thead>
                    <tbody>
                   {{#each plan}}
                       <tr>
                           <td>{{title}}</td>
                           <td>{{cost}}</td>
                           <td>{{profit}}</td>
                           <td>{{duration}}</td>

                       </tr>

                   {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--END OF PLANS SECTION-->

<div class="mgT4">
    <div class="home_layout">
        <h3 class="h3 centerText">Enkrypt Finance Value and a full range of choices to support your style of investing or trading. </h3>
        <div class="grid mgT4">
            <div class="card grid-item2_4 centerText">
                <i class="la la-dollar-sign icon48 greyText"></i>
                <h3 class="h5 mgT1">$0 commission trades</h3>
                <p class="h6 mgT1">Online US-listed stocks, ETFs, and options</p>
            </div>
            <div class="card grid-item2_4 centerText">
                <i class="la la-briefcase icon48 greyText"></i>
                <h3 class="h5 mgT1">Full Range Investments</h3>
                <p class="h6 mgT1">Plus professionally managed accounts</p>
            </div>
            <div class="card grid-item2_4 centerText">
                <i class="la la-lightbulb icon48 greyText"></i>
                <h3 class="h5 mgT1">Easy, intuitive platforms</h3>
                <p class="h6 mgT1">Best mobile and web experience</p>
            </div>
        </div>
    </div>

</div>

<div class="black-box">
    <h2 class="h4">Commission-  free trades, plus a little something extra. <a class="link icon24">Learn How</a></h2>
    <p class="h5 mgT1 greyText">
        Get $600 when you open and fund a new account with $250,000 or add even more for up to $2,500
    </p>
    <a class="btn btn-primary mgT2">Open account</a>
</div>

